<div class="container-out">
  <a routerLink="/article/{{ article.id }}">
    <div class="flex-container">
      <div class="item">
        {{ article.title | truncate: [25] }}
      </div>
      <div class="item">
        {{ article.createdAt | date:"short" }}
      </div>
      <div class="item">
        {{ article.heroName | truncate: [25] }}
      </div>
    </div>
  </a>
  <div class="star">
    <div *ngIf="isFavourite" (click)="toogleFavourite(article.id)">
      <fa-icon [icon]="faSolid"></fa-icon>
    </div>
    <div
      
      *ngIf="!isFavourite"
      (click)="toogleFavourite(article.id)"
    >
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
  </div>
</div>
