<header>
  <nav id="navbar">
    <div class="navbar-center">
      <div
        class="menu-icon"
        (click)="showNavbar()"
        [ngClass]="{
          invisible: isNavDisplayed,
          visible: !isNavDisplayed
        }"
      >
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <div class="logo">
        <a routerLink="/">
          <img class="crown" src="../../../../favicon.ico" alt="" />
          <span class="influential">Influential</span> People
        </a>
      </div>
      <div class="navbar-links">
        <a routerLink="/heroes">Heroes</a>
        <a routerLink="/quotes">Quotes</a>
        <a routerLink="/articles">Articles</a>
        <a routerLink="/account">Categories</a>
      </div>
      <div>
        <div *ngIf="!loginService.isUserLoggedIn()">
          <span class="user-item"><a routerLink="/sign-in">sign in</a></span>
          <span class="user-item"><a routerLink="/sign-up">sign up</a></span>
        </div>
        <div *ngIf="loginService.isUserLoggedIn()">
          <a routerLink="/user"> {{ currentUser.username }}</a>
        </div>
      </div>
    </div>
    <div class="clean-fixed-position"></div>
    <div
      class="small-screen-navbar"
      id="navbar"
      [ngClass]="{
        'show-navbar': isNavDisplayed,
        'close-navbar': !isNavDisplayed
      }"
    >
      <div class="navbar-header" (click)="closeNavbar()">
        <div class="close-icon"></div>
      </div>

      <ul class="navbar-items">
        <li><a routerLink="/heroes" class="navbar-link">Heroes</a></li>
        <li><a routerLink="/quotes" class="navbar-link">Quotes</a></li>
        <li><a routerLink="/articles" class="navbar-link">Articles</a></li>
        <li><a routerLink="/categories" class="navbar-link">Categories</a></li>
      </ul>
    </div>
  </nav>
  <div class="under-nav-clean"></div>
</header>
