<header>
  <nav id="navbar">
    <div class="navbar-center">
      <div
        class="menu-icon"
        (click)="showNavbar()"
        [ngClass]="{
          invisible: isNavDisplayed,
          visible: !isNavDisplayed
        }"
      >
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>

      <div class="navbar-links">
        <a routerLink="/heroes">Heroes</a>
        <a routerLink="/quotes">Quotes</a>
        <a routerLink="/articles">Articles</a>
        <a routerLink="/account">Categories</a>
      </div>

      <div class="logo">
        <a routerLink="/">
          <span class="influential">Influential</span> People
          <img class="crown" src="../../../../favicon.ico" alt="" />
        </a>
      </div>
    </div>
    <div class="clean-fixed-position"></div>
    <div
      class="small-screen-navbar"
      id="navbar"
      [ngClass]="{
        'show-navbar': isNavDisplayed,
        'close-navbar': !isNavDisplayed
      }"
    >
      <div class="navbar-header" (click)="closeNavbar()">
        <div class="close-icon"></div>
      </div>

      <ul class="navbar-items">
        <li><a routerLink="/heroes" class="navbar-link">Heroes</a></li>
        <li><a routerLink="/quotes" class="navbar-link">Quotes</a></li>
        <li><a routerLink="/articles" class="navbar-link">Articles</a></li>
        <li><a routerLink="/categories" class="navbar-link">Categories</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- <ul class="menu-list">
        <li><h1 class="logo">The Most Influential People</h1></li>
        <li>
          <a *ngIf="!loginService.isUserLoggedIn()" routerLink="">Home</a
          ><a *ngIf="loginService.isUserLoggedIn()" routerLink="/home">Home</a>
        </li>
        <li><a routerLink="/heroes">Heroes</a></li>
        <li><a routerLink="">Rank</a></li>
        <li id="account-item">
          Account
          <ul class="account-list">
            <li>
              <a
                *ngIf="!loginService.isUserLoggedIn()"
                routerLink="/login"
                class="nav-link"
                >sign in</a
              >
            </li>
            <li>
              <a
                *ngIf="!loginService.isUserLoggedIn()"
                routerLink="/sign-up"
                class="nav-link"
                >sign up</a
              >
            </li>
            <li>
              <a
                *ngIf="loginService.isUserLoggedIn()"
                routerLink="/logout"
                class="nav-link"
                >sign out</a
              >
            </li>
          </ul>
        </li>
      </ul> -->
