<div class="container-out">
  <div class="container-in">
    <a routerLink="/hero/{{ hero.name }}"
      ><div class="flex-container">
        <div class="flex-item image">
          <div>
            <img *ngIf="hero.avatarImageUrl"
              src=""
              alt=""
              [ngStyle]="{
                'background-image': 'url(' + hero.avatarImageUrl + ')'
              }"
              style=" background-size:cover; background-position:center"
            />
          </div>
          <div class="name">{{ hero.name }}</div>
        </div>
        <div class="flex-item rate">{{ hero.rate }} points</div>
      </div>
    </a>
  </div>
  <div class="favourite">
    <div class="star" *ngIf="isFavourite" (click)="toogleFavourite(hero.name)">
      <fa-icon [icon]="faSolid"></fa-icon>
    </div>
    <div class="star" *ngIf="!isFavourite" (click)="toogleFavourite(hero.name)">
      <fa-icon [icon]="faStar"></fa-icon>
    </div>
  </div>
</div>
