<div class="container">
  <div *ngIf="!loadingData; else loading">
    <form [formGroup]="registerForm">
      <input
        formControlName="username"
        type="text"
        id="username"
        placeholder="Username"
        name="username"
      />
      <div *ngIf="invalidSubmit">
        <div
          *ngIf="controls.username.errors?.required && invalidSubmit"
          class="alert alert-danger"
        >
          Username is required
        </div>
        <div
          *ngIf="controls.username.errors?.minlength && invalidSubmit"
          class="alert alert-danger"
        >
          Username must be at least 3 characters long
        </div>
      </div>

      <input
        formControlName="email"
        type="text"
        id="email"
        placeholder="Email"
        name="email"
      />
      <div *ngIf="invalidSubmit">
        <div *ngIf="controls.email.errors?.required" class="alert alert-danger">
          Email is required
        </div>
        <div *ngIf="controls.email.errors?.pattern" class="alert alert-danger">
          Invalid email format
        </div>
      </div>

      <input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Password"
        name="password"
      />
      <div *ngIf="invalidSubmit">
        <div
          *ngIf="controls.password.errors?.required"
          class="alert alert-danger"
        >
          Password is required
        </div>
        <div
          *ngIf="controls.password.errors?.minlength"
          class="alert alert-danger"
        >
          Password must be at least 4 characters long
        </div>
      </div>

      <input
        (keypress)="onEnter(registerForm, $event)"
        formControlName="confirmPassword"
        type="password"
        id="pswConfirm"
        placeholder="Confirm Password"
        name="pswConfirm"
      />
      <div *ngIf="invalidSubmit">
        <div
          *ngIf="controls.confirmPassword.errors?.required"
          class="alert alert-danger"
        >
          Password confirmation is required
        </div>
        <div
          *ngIf="controls.confirmPassword.errors?.match"
          class="alert alert-danger"
        >
          Password confirmation and Password must match
        </div>
      </div>
      <button
        class="sign-up-button"
        type="button"
        (click)="signUp(registerForm)"
      >
        Sign up
      </button>
      <br />
      <br />
    </form>
  </div>
  <app-alert-modal
    *ngIf="alertMediator"
    (alertSubmitted)="onSubmit($event)"
    [alertMediator]="alertMediator"
  ></app-alert-modal>
  <ng-template #loading><app-spinner></app-spinner></ng-template>
</div>
