<div class="modal" *ngIf="changeMediator.display === true">
    <div class="modal-content">
      <div class="modal-content-close">
        <span class="close" (click)="close()">&times;</span>
      </div>
      <div class="modal-content-image">
        <img src="" alt="" #image />
        <label class="modal-content-image-input">
          <input type="file" (change)="previewImage($event, image)" />
          Change image
        </label>
      </div>
      <div class="modal-content-name">
        <input
          *ngIf="changedHero"
          type="text"
          placeholder="name"
          [(ngModel)]="changedHero.name"
        />
      </div>
      <div class="modal-content-categories">
        <button class="brown-button" (click)="toogleList()" style="width:98%">
          Categories
        </button>
        <ol class="modal-content-categories-list" *ngIf="displayCategories">
          <li
            class="modal-content-categories-item"
            *ngFor="let category of categories"
          >
            <label class="check-item">
              <input
                type="checkbox"
                name="{{ category.name }}"
                value="{{ category.name }}"
                [ngModel]="categoriesMap.get(category.name)"
                (ngModelChange)="categoriesMap.set(category.name, $event)"
              />
              <span class="checkmark"></span> {{ category.name }} </label
            ><br />
          </li>
        </ol>
      </div>
  
      <div class="modal-content-buttons">
        <button
          type="button"
          class="btn btn-outline-dark dark-button"
          (click)="close()"
        >
          cancel
        </button>
        <button
          type="button"
          class="btn btn-dark brown-button"
          (click)="change()"
        >
          change
        </button>
      </div>
    </div>
    <app-alert-modal
      *ngIf="alertMediator"
      (modalSubmitted)="onSubmit($event)"
      [alertMediator]="alertMediator"
    ></app-alert-modal>
  </div>
  