.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-item {
  text-align: center;
}
/* tools */
.tools {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.tools-item {
  margin: 0 1rem;
}
/* tools */
/* hero-list */
.hero-list {
  list-style: none;
}

.hero-item {
  display: flex;
  border: 2px solid #a56245;
  padding: 1rem;
  margin: 1rem;
}

.hero-item-subitem{
    flex-grow: 1;
    margin:0 0.5rem
}

.hero-item-subitem-name{
    text-align: left;
    width: 60%;
}

.hero-item-subitem-delete{
   background-color: #a56245;
   color:white;
}

.hero-item-subitem-delete:hover{
    background-color: brown;
    color:white;
 }

@media screen and (min-width: 650px){
    .hero-list{
        align-self: center;
        width: 60%;
    }
}
/* hero-list */
/* paging */
.paging {
  margin-bottom: 2rem;
}
/* paging */

