<div class="container">
  <form [formGroup]="logInForm">
    <label for="username">Username</label>
    <input
      placeholder="Enter Username"
      formControlName="username"
      type="text"
      id="username"
      name="username"
    />
    <div *ngIf="invalidSubmit">
      <div
        *ngIf="controls.username.errors?.required"
        class="alert alert-danger"
      >
        Username is required.
      </div>
    </div>
    <label for="password">Password</label>
    <input
      formControlName="password"
      placeholder="Enter password"
      type="password"
      id="password"
      name="password"
    />
    <div *ngIf="invalidSubmit">
      <div
        *ngIf="controls.password.errors?.required"
        class="alert alert-danger"
      >
        Password is required.
      </div>
    </div>
    <button (click)="logIn(logInForm)" type="button" class="sign-up-button">
      Login
    </button>
    <br />
    <br />
  </form>
</div>
