body
{
	margin: 0;
	background-color: rgb(15, 15, 15);
	color: #c7c1c1;
    font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	
}
h1.logo{
	font-size: 44px;
	font-weight: 400;
	color: #f0e2c5;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	word-spacing: 7px;
	margin-top: 100px;
	margin-bottom: 80px;
	
}
#topNav{
	background-color: #500606;
	text-align: center;
}
.menu{
	list-style-type: none;
	margin:0;
	padding: 10px;
	font-size: 14px;
	min-height: 30px;
	line-height: 200%;
}
.menu>li{
	display: inline-block;
	padding-left: 22px;
	padding-right: 22px;
	letter-spacing: 4px;
	border-right: 1px solid #b9b7b7;
}
.menu>li:first-child{
	border-left:1px solid #b9b7b7;
}
.menu a{
	color:#fff;
	text-decoration: none;
}
.menu a:hover{
	color:#000000; 
}
.categories{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	padding: 0px;
}
h1{
	font-size: 44px;
	font-weight: 400;
	color:#570404;
	margin-bottom: 50px;
	margin-top: 80px;
}
.author{
	display:inline-block;
	margin-top: 10px;
}
figure{
	margin:8px;
	padding: 0;
}
figcaption{
	margin-top: 8px;
	padding: 0px;
}
.author a{
	opacity:0.8;
}
.author a:hover{
	opacity:1;
}
.entries{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 60px;
	margin-top: 50px;
}
#newest{
	background-color: #722727;
	
}
#newest header{
	color:#570404;
	
}

.entry{
	background-color: rgb(15, 15, 15);
	padding: 5px;
	margin-top: 35px;
	border-radius: 2px;
}
.entryimg{
	display: inline-block;
	margin-left: 20px;

}
.entryimg img{
	width: 90px;
	height: 90px;
}
.entrytxt{
	display: inline-block;
	width:75%;
	font-size: 15px;
}
h2{
	font-size: 20px;
	color:#570404;
}
.contact{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 60px;
	
}
 .informations{
	border-top:2px solid #500606;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
/*
.container{
	margin-left: auto;
	margin-right: auto;
	width:80%;
}
.heroContent h1{
font-size: 32px;
}
.description{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	width:70%;
	float:left;
	text-align: justify;
}
.sideBar{
	float:left;
	width:30%;
	margin-top:25px;
}
.sideBar ul{
	
padding-left:35px;
}

.sideBar ul>li{
	
	margin-bottom: 15px;
} */
/* #voting{
	
	background-color: #500606;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0px;
	color:#efefef;
	text-decoration: none;
	font-size: 14px;
	min-width: 10px;
	border-radius: 4px;
	margin-top: 60px;
	margin-left: 50px;
	text-align: center;
	max-width: 150px;
	min-width: 80px;
}
#voting:hover{
	background-color: #7c1313;
	cursor:pointer;
	
}
#voting ul{
	list-style-type: none;
	
}
#voting ul>li{
	color:#efefef;
}
#voting ul>li>ul{
display:none;
padding:0px;
}
#voting ul>li>ul>li{
	
}
#voting ul>li:hover>ul{
		display: block;	
} */



