.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-item {
  text-align: center;
}
/* -------------tools------------ */
.tools {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.tools-item {
  margin: 0 1rem;
}
/* --------------tools------------ */
/* ----------quote-list--------- */
.quote-list {
  list-style: none;
}

.quote-item {
  display: flex;
  border: 2px solid #a56245;
  padding: 1rem;
  margin: 1rem;
}

.quote-item-subitem {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.quote-item-subitem-name {
  text-align: left;
  width: 65%;
}

.quote-item-subitem-delete {
  background-color: #a56245;
  color: white;
}

.quote-item-subitem-delete:hover {
  background-color: brown;
  color: white;
}

@media screen and (min-width: 750px) {
  .quote-list {
    align-self: center;
    width: 55%;
  }
}
/* ----------quote-list--------- */
