<div class="container">
  <app-search
    (entitySearching)="onEntitySearching($event)"
    (entityChoosing)="onEntityChoosing($event)"
    [searchingAttribute]="searchingAttribute"
    [entities]="entities"
    entityName="article"
  ></app-search>
  <div *ngIf="showEntities">
    <app-article-tile
      *ngFor="
        let art of entities | searchFilter: searchValue:searchingAttribute
      "
      [article]="art"
    ></app-article-tile>
  </div>
  <div *ngIf="!showEntities">
    <app-article-tile
      *ngFor="
        let art of searchEntities | searchFilter: searchValue:searchingAttribute
      "
      [article]="art"
    ></app-article-tile>
  </div>
  <app-paginator
    *ngIf="numberOfPages"
    [numberOfPages]="numberOfPages"
    (pageClicked)="updatePage($event)"
  ></app-paginator>
</div>
