.article-list {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.buttons-group {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}


.dropdown-item:hover {
  color: black;
  cursor: pointer;
}
.dropdown-item:active {
    background-color: black
  }
.dropdown-item-selected{
    background-color: black;
    color: white !important;
    
}
a {
  text-decoration: none;
  color: black;
}
.article-item {
  text-align: center;
  border: 2px solid #a56245;
  padding: 1rem;
  margin: 1rem;
}

.search-input {
  width: var(--hero-search-width);
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
  border: none;
  border-bottom: 2px solid #a56245;
}
.top-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-input:focus {
  display: block;
  outline: none;
}

.filter-button {
  margin: 1rem;
}

.show-all-button {
  margin: 1rem;
}

.scrollable{
    height: auto;
    max-height: 50vh;
    overflow-x: hidden;
    
}

