.quote-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

.content {
}

.hero-name {
}

a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: black;
}
