.quote-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 70% !important;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.hidden{
  visibility: hidden;
}

a {
  font-size: 1rem;
  font-weight: bold;
  color: #a56245;
}

a:hover{
  color:brown;
}

h5{
  font-weight: bold;
}

.hero{
  font-size: 1.5rem;
}

.content{
  margin:2rem auto;
  text-align: center;
  font-weight: bold;
}

.favourite{
  color:#a56245;
  margin:0.5rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size:1.3rem;
}

.favourite:hover{
  color:brown;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
}

.arrow{
  cursor: pointer;
  margin:auto;
  padding:2rem 1.3rem;
}