<div>
  <div *ngIf="quote" class="quote-detail">
    <div>
      <p class="quote-item content">{{ quote.content }}</p>
    </div>
    <div>
      <p class="quote-item hero-name">hero: {{ quote.heroName }}</p>
    </div>
    <div class="quote-item favourite">
      <div *ngIf="isFavourite" (click)="toogleFavourite(quote.id)">Your favourite&nbsp;<fa-icon [icon]="faSolid"></fa-icon></div>
      <div *ngIf="!isFavourite" (click)="toogleFavourite(quote.id)">Add to favourite&nbsp;<fa-icon [icon]="faStar"></fa-icon></div>
    </div>
    <div>
      <a
        routerLink="/hero/{{ quote.heroName }}/detail"
        class="quote-item hero"
        >hero</a
      >
    </div>
  </div>
</div>
