<!-- INFO MODAL -->
<div
  *ngIf="modal.showModal === true && modal.modalType === INFO"
  id="myModal"
  class="modal"
>
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <p *ngIf="modal.message">{{ modal.message }}</p>
    <p *ngIf="!modal.message">Action performed</p>
    <button class="btn btn-dark dark-button" (click)="submit()">OK</button>
  </div>
</div>
<!-- INFO MODAL -->
<!-- DELETE MODAL -->
<div
  *ngIf="modal.showModal === true && modal.modalType === WARN"
  id="delete-modal-wrapper"
>
  <div class="delete-modal">
    <div class="delete-modal-content">
      <span class="delete-close" (click)="close()">&times;</span>
      <h2>Are you sure ?</h2>
      <div class="buttons">
        <button type="button" class="btn btn-dark dark-button" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-outline-dark dark-button" (click)="submit()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- DELETE MODAL -->
