/* .comment {
  display: flex;
  justify-content: space-between;
}
.flex-item {
  margin: 1rem 1rem;
}
.delete {
  height: 2.5rem;
} */

/* -------COMMENT------------ */

.comment {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
}
/* -------left-panel------------ */

.avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment-left-panel {
  margin: 1rem;
}

/* -------left-panel------------ */

/* -------right-panel------------ */

.comment-right-panel {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.username-right-panel {
  font-weight: thin;
  font-size: 0.8rem;
}

.timestamp-right-panel {
  font-weight: thin;
  font-size: 0.8rem;
}
.content-right-panel {
  font-weight: bold;
  overflow-wrap: break-word;
  width: 80%;
}

/* -------right-panel------------ */

/* -------COMMENT------------ */
