<div class="comment">
  <div class="comment-left-panel">
    <div class="avatar">
      <img *ngIf = "comment.avatarUrl" class="avatar-image" src="{{ comment.avatarUrl }}" alt="" />
      <img *ngIf = "!comment.avatarUrl" class="avatar-image" src="{{ defaultImageUrl }}" alt="" />
    </div>
  </div>

  <div class="comment-right-panel">
    <div class="user-right-panel">
      <span class="username-right-panel">{{ comment.username }}</span>
      <span class="timestamp-right-panel">
        {{ comment.createdAt | date: "medium" }}</span
      >
    </div>
    <div class="content-right-panel">{{ comment.content }}</div>
    <div class="manage-right-panel">
      <button
        class="btn btn-dark btn-sm"
        *ngIf="isOwner(comment)"
        (click)="delete()"
      >
        delete
      </button>
    </div>
  </div>
</div>
