<div class="comment">
  <div class="user-img flex-item">
    <img
      src="../../../assets/images/rulers.jpg"
      alt="image"
      style="width: 3rem;"
    />
  </div>
  <div class="content flex-item">
    <small
      ><span>{{ comment.username }}</span> posted -
      <span>{{ comment.created_at }}</span></small
    >
    <p>{{ comment.content }}</p>
    <button
      type="button"
      (click)="delete()"
      class="btn btn-outline-dark btn-sm"
    >
      delete
    </button>
  </div>
</div>
