@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");

* {
  font-family: "Alegreya Sans", sans-serif;
  --smoke-white: #e0e0e0;
  --smoke-grey: #c8c8c8;
  --dark-grey: #b8b8b8;
  --dark: #414141;
}

:root {
  --smoke-white: #e0e0e0;
  --smoke-grey: #c8c8c8;
  --dark-grey: #b8b8b8;
  --dark: #414141;
}

#content {
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/images/king.png");
  background-size: cover;
  background-position: center;
}

/* menu icon*/

.menu-icon {
  margin: 2rem;
  display: inline-block;
  cursor: pointer;
  transition: opacity 2s ease;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.hamburger-line {
  width: 35px;
  height: 5px;
  background-color: var(--dark);
  margin: 6px 6px;
}
/* menu icon */

/* navbar*/

a {
  text-decoration: none;
  color: var(--smoke-white);
  color: white;
}

/* icon close */

.close-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  margin: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 1s ease;
}
.close-icon:hover {
  background: #161616d7;
}
.close-icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: 23px;
  width: 3em;
  height: 1px;
  transform: rotate(-45deg);
  background-color: var(--smoke-white);
}

.close-icon:hover {
  color: black;
}

.close-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: 23px;
  width: 3em;
  height: 1px;
  transform: rotate(45deg);
  background-color: var(--smoke-white);
}

/* icon close */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding-top: 1rem;
  padding-left: 2rem;
  color: white;
  background: #212121;
  opacity: 0.95;
  transform: translateX(-100%);
  transition: transform ease 0.7s;
}

.navbar-header {
  display: block;
}

.show-navbar {
  transform: translateX(0);
}

.close-navbar {
  transform: translateX(-100%);
}

.navbar-items {
  margin: auto;
  list-style-type: none;
}

.navbar-link {
  letter-spacing: 5px;
  font-size: 2rem;
  line-height: 4rem;
  color: var(--smoke-white);
  display: block;
  cursor: pointer;
  transition: margin ease 0.3s;
}

.navbar-link:hover {
  color: white;
  margin-left: 0.2rem;
}

@media screen and (min-width: 700px) {
  .navbar {
    width: 25vw;
  }
}

/* navbar*/
