.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

span {
  font-weight: bold;
}

input {
  margin: 0.3rem auto;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #a56245;
}

a:hover {
  color: brown;
}

.banner {
  padding-top: 1rem;
  width: 100%;
  background-color: #313131;
  height: 15rem;
}

.circle {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: #656565;
}

.profile-image {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.username {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

input[type="file"] {
  display: none;
}

.banner-button {
  width: 132px;
  margin: 0 10px;
}

.banner-button:hover {
  cursor: pointer;
}
/* ----------user-panel---------- */
/* ----------top-panel---------- */

.user-panel {
  margin: 0 auto;
  width: 70%;
}

.top-panel {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 220px;
  max-width: 220px;
  flex-wrap: wrap;
}

.change-button {
  margin: 0.4rem auto;
  min-width: fit-content;
  width: 170px;
}

.line {
  margin: 1.5rem auto;
  width: 67%;
  border-bottom: 2px solid #a56245;
}

.span-wrap {
  display: block;
  max-width: 220px;
  word-wrap: break-word;
  text-align: left;
}

.field {
  margin: 0.3rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.password-change {
  margin: 0.5rem;
}

.email-change {
  margin: 0.5rem;
}

/* ----------top-panel---------- */
/* ----------bottom-panel---------- */

.bottom-panel {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favourite {
  margin: 1rem;
  font-weight: bold;
  display: flex;
  width: 220px;
  flex-direction: column;
}

.favourite-header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.favourite-item {
  border: 1px solid #a56245;
  display: flex;
  padding: 0.5rem 0.5rem;
  margin: 0.4rem 0;
  justify-content: space-between;
}

/* ----------bottom-panel---------- */

/* ----------user-panel---------- */
