<div *ngIf= "currentUser" class="banner flex-container">
  <div class="circle flex-item">
    <img
      class="profile-image"
      src="https://image.shutterstock.com/mosaic_250/1462748/766777333/stock-photo-galileo-galilei-portrait-on-italy-lira-banknote-closeup-macro-genius-italian-scientist-766777333.jpg"
      alt="Avatar"
    />
  </div>
  <span>
    <label class="btn btn-outline-light banner-button">
      <input type="file" (change)="uploadFile($event)"/>
      change image
    </label>
    <input
      class="btn btn-outline-light banner-button"
      value="sign out"
      type="button"
      (click)="logout()"
    />
  </span>
</div>
<br>
<!--  -->
<div *ngIf= "currentUser" class="user-panel">
  <div class="top-panel">
    <div>username: {{currentUser.username}}</div>
    <div>roles: {{currentUser.roles}}</div>
    <div>email: {{currentUser.email}}<input type="password" #password [ngModel]="newPassword"><button class="btn btn-dark"
      (click)="changePassword(password.value)">change</button></div>
    <div>password<input type="password" #password [ngModel]="newPassword"><button class="btn btn-dark"
      (click)="changePassword(password.value)">change</button></div>
    <!-- <div>actions</div> -->
  </div>
  <hr>
  <div class="bottom-panel">favourites

    <div>Heroes</div>
    <div>Quotes</div>
    <div>Articles</div>
  </div>
</div>
