<div class="banner flex-container">
  <div class="circle flex-item">
    <img class="profile-image" src="https://image.shutterstock.com/mosaic_250/1462748/766777333/stock-photo-galileo-galilei-portrait-on-italy-lira-banknote-closeup-macro-genius-italian-scientist-766777333.jpg" alt="Avatar" />
  </div>
  <label class="file-upload">
    <input type="file" (change)="uploadFile($event)"/>
    Change image
  </label>
</div>
<div>
  <div>username</div>
  <div>email</div>
  <div>change password</div>
  <div>favourites</div>
  <button (click)="logout()">logout</button>
</div>
