.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.margin{
  margin: 0.4rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #a56245;
}

a:hover {
  color: brown;
}

.banner {
  padding-top: 1rem;
  width: 100%;
  background-color: #313131;
  height: 15rem;
}

.circle {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: #656565;
}

.profile-image {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.username {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

input[type="file"] {
  display: none;
}

.banner-button {
  width: 132px;
  margin: 0 10px;
}

.banner-button:hover {
  cursor: pointer;
}
/* ----------user-panel---------- */

.user-panel {
  margin: 0 auto;
  width: 55%;
}

.top-panel {
  text-align: center;
}

/* ----------bottom-panel---------- */

.bottom-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favourite {
  margin:1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
/* ----------bottom-panel---------- */

/* ----------user-panel---------- */
