<div class="container">
  <app-search
    [entities]="entities"
    (entitySearching)="onEntitySearching($event)"
    (entityChoosing)="onEntityChoosing($event)"
    entityName="hero"
  ></app-search>
  <div *ngIf="showEntities">
    <app-hero-tile
      *ngFor="let hero of entities | searchFilter: searchValue"
      [hero]="hero"
    ></app-hero-tile>
  </div>
  <div *ngIf="!showEntities">
    <app-hero-tile
      *ngFor="let hero of searchEntities | searchFilter: searchValue"
      [hero]="hero"
    ></app-hero-tile>
  </div>
  <app-paginator
    *ngIf="numberOfPages"
    [numberOfPages]="numberOfPages"
    (pageClicked)="updatePage($event)"
  ></app-paginator>
</div>
