<div>
  <div *ngIf="hero" class="hero-detail">
    <div class="hero-item-image">
      <img src="{{ hero.avatarImageUrl }}" alt="hero image" />
    </div>
    <div>
      <p class="hero-item name">{{ hero.name }}</p>
    </div>
    <div>
      <p class="hero-item score">score: {{ hero.score }}</p>
    </div>
    <div>
      <a routerLink="/hero/{name}/quote" class="hero-item quotes">quotes</a>
    </div>
    <div>
      <a routerLink="/hero/{name}/article" class="hero-item articles"
        >articles</a
      >
    </div>
  </div>
</div>
