<div>
  <div *ngIf="article" class="article-detail">
    <div>
      <h2>{{ article.heroName }}</h2>
      <br />
    </div>
    <div>
      <h4>Title: {{ article.title }}</h4>
    </div>

    <div>
      <p class="article-item created-at">
        {{ article.createdAt | date: "medium" }}
      </p>
      <br>
    </div>
    <div>
      <p class="article-item text">{{ article.text }}
      </p>
      <br />
    </div>
    <div class="favourite">
      <div *ngIf="isFavourite" (click)="toogleFavourite(article.id)">Your favourite&nbsp;<fa-icon [icon]="faSolid"></fa-icon></div>
      <div *ngIf="!isFavourite" (click)="toogleFavourite(article.id)">Add to favourite&nbsp;<fa-icon [icon]="faStar"></fa-icon></div>
    </div>
    <app-comments-section
      class="app-comments-section"
      [article]="article"
    ></app-comments-section>
  </div>
</div>
