.article-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
}

a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: black;
}
hr {
  border: 1.2px solid black;
  width: 50%;
}
