.article-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  align-items: center;
  margin: 5rem auto;
}

.text{
  text-align: justify;
}

a {
  font-size: 1.5rem;
  text-decoration: underline;
  color: black;
}

.app-comments-section{
  width:100%;
} 

.favourite{
  margin:0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size:1.3rem;
}

.favourite:hover{
  color:#a56245;
}

@media screen and (min-width: 1600px) {
  .article-detail{
    width: 45%;
  }
}

@media screen and (max-width: 1200px) {
  .article-detail{
    width: 70%;
  }
}