<div>
  <div *ngIf="article" class="article-detail">
    <div>
      <p class="article-item title">{{ article.title }}</p>
    </div>
    <div>
      <p class="article-item hero-name">hero: {{ article.heroName }}</p>
    </div>
    <div>
      <p class="article-item created-at">{{ article.createdAt }}</p>
    </div>
    <div>
      <p class="article-item text">{{ article.text }}</p>
    </div>
    <app-comments-section class ="app-comments-section" [article]="article"></app-comments-section>
  </div>
</div>
