.quote-list {
  margin-top: 2rem;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.quote-item {
  text-align: center;
  border: 2px solid #a56245;
  padding: 1rem;
  margin: 1rem;
}

.buttons-group {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.dropdown-item:hover {
  color: black;
  cursor: pointer;
}

.dropdown-item:active {
    background-color: black
  }
  
.dropdown-item-selected{
    background-color: black;
    color: white !important;
    
}