<div class="container">
  <app-search
    (entitySearching)="onEntitySearching($event)"
    (entityChoosing)="onEntityChoosing($event)"
    [searchingAttribute]="searchingAttribute"
    [entities]="entities"
    entityName="quote"
  ></app-search>

  <!--  -->
<div class="buttons-group">
  <div class="dropdown">
    <button
      class="btn btn-dark dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      sort
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="sort('none')" 
      [ngClass]="{'dropdown-item-selected':  'none' === selectedSort }">none</a>
      <a class="dropdown-item" (click)="sort('alph-asc')"
      [ngClass]="{'dropdown-item-selected':  'alph-asc' === selectedSort }"
        >alphabetical</a
      >
      <a class="dropdown-item" (click)="sort('alph-desc')" 
      [ngClass]="{'dropdown-item-selected':  'alph-desc' === selectedSort }"
        >reverse</a
      >
    </div>
  </div>
  &nbsp;
  <div class="dropdown">
    <button
      class="btn btn-dark dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
   
    >
      filter
    </button>
    <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton">
      <a
      class="dropdown-item"
      (click)="filter('none')"
      [ngClass]="{'dropdown-item-selected':  'none' === selectedFilter }"
      >none</a
    >
      <a
        *ngFor="let hero of heroes"
        class="dropdown-item"
        (click)="filter(hero.name)"
        [ngClass]="{'dropdown-item-selected':  hero.name === selectedFilter }"
        >{{ hero.name }}</a
      >
    </div>
  </div>
</div>
<!--  -->

  <div *ngIf="showEntities">
    <ul class="quote-list">
      <li
        class="quote-item"
        *ngFor="
          let quote of entities | searchFilter: searchValue:searchingAttribute
        "
      >
        <a routerLink="/quotes/{{ quote.id }}/detail">{{ quote.content }}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!showEntities">
    <ul class="quote-list">
      <li
        class="quote-item"
        *ngFor="
          let quote of entities | searchFilter: searchValue:searchingAttribute
        "
      >
        <a routerLink="/quotes/{{ quote.id }}/detail">{{ quote.content }}</a>
      </li>
    </ul>
  </div>
  <app-paginator
    *ngIf="numberOfPages"
    [numberOfPages]="numberOfPages"
    (pageClicked)="updatePage($event)"
  ></app-paginator>
</div>
