* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 1px;
}

img {
  width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
  color:#a56245;
}