<div class="container">
  <form [formGroup]="logInForm">
 
    <input
      placeholder="Username"
      formControlName="username"
      type="text"
      id="username"
      name="username"
    />
    <div *ngIf="invalidSubmit">
      <div
        *ngIf="controls.username.errors?.required"
        class="alert alert-danger"
      >
        Username is required
      </div>
    </div>
   
    <input (keypress)="onEnter(logInForm,$event)"
      formControlName="password"
      placeholder="Password"
      type="password"
      id="password"
      name="password"
    />
    <div *ngIf="invalidSubmit">
      <div
        *ngIf="controls.password.errors?.required"
        class="alert alert-danger"
      >
        Password is required
      </div>
    </div>
    <button (click)="logIn(logInForm)" type="button" class="sign-up-button">
     Sign in
    </button>
    <br />
    <br />
  </form>
  <app-modal *ngIf="modal" (modalSubmitted)="onModalSubmitting($event)" [modal]="modal"></app-modal>
  <app-modal *ngIf="accountCreated" (modalSubmitted)="onModalSubmitting($event)" [modal]="modal"></app-modal>
</div>
