.search-input {
  width: 40vw;
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
  border: none;
  border-bottom: 2px solid #a56245;
}

.entity-dropdown-container {
  position: absolute;
  z-index: 999;
  width: 40vw;
  max-height: 20rem;
  left: 29.9%;
  background-color: #fafafae5;
  border-bottom: 2px solid #a56245;
  overflow-y: auto;
}

.entity {
  padding: 1rem;
  cursor: pointer;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-input:focus {
  display: block;
  outline: none;
}

.filter-button {
  margin: 1rem;
}

.show-all-button {
  margin: 1rem;
}
