<div class="search-section">
  <form [formGroup]="entitySearch" class="item">
    <input 
      placeholder="Search for the {{ entityName }}"
      class="search-input"
      id="search"
      autocomplete="off"
      value="{{searchingValue}}"
      (keyup)="openDropdown($event); emitSearchValue($event)"
      formControlName="search"
      type="text"
    />
    <div clickOutside targetElementId="search" (clickOutside)="closeDropdown()">
      <div *ngIf="showDropdown" class="entity-dropdown-container">
        <div
          *ngFor="
            let entity of entities
              | searchFilter: getSearchValue():searchingAttribute
          "
          (click)="emitChosenEntity(entity); closeDropdown()"
          class="entity"  [id]="'entity_'+entity.name"
        >
          {{ entity[searchingAttribute] }}
        </div>
      </div>
    </div>
  </form>
  <div
    class="btn-toolbar"
    role="toolbar"
    aria-label="Toolbar with button groups"
  > 
  </div>
</div>
